@import '~antd/dist/antd.css';

.ant-anchor-link-title {
    color: white;
    white-space: unset;
    text-overflow: unset;
}
.ant-anchor-link {
        padding: 3px 0px;
}
.ant-tabs-ink-bar {
    background: #001E8B;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #2B2B2B;
    font-size: 24px;
}
.ant-menu-light .ant-menu-item:hover,
.ant-menu-light .ant-menu-item-active,
.ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-light .ant-menu-submenu-active,
.ant-menu-light .ant-menu-submenu-title:hover {
    color: #94D4DD;
}
.ant-menu-submenu-selected {
    color: #94D4DD;
}
.ant-input-group>.ant-input-affix-wrapper:not(:last-child) .ant-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-indent: 10px;
}
.ant-breadcrumb-separator {
    color: white;
}
/* .ant-layout-content {
    overflow: scroll;
} */
.ant-card-contain-grid:not(.ant-card-loading) .ant-card-body {
    background: #F1F2F5;
    border: 1px solid #238990;
    box-sizing: border-box;
    border-radius: 10px;
}
.ant-card-head .ant-tabs {
    font-weight: bold;
}
.ant-tabs-large>.ant-tabs-nav .ant-tabs-tab {
    padding: 0;
}
.ant-input-affix-wrapper>input.ant-input {
    font-family: 'Playfair Display',
    serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-indent: 4px;
    line-height: 27px;
    color: #909090;
}


@media screen and (min-width: 1270px) {
    .ant-anchor-link {
        font-size: 14px;
    }
    
}

@media screen and (min-width: 1370px) {
    .ant-input-affix-wrapper>input.ant-input {
        font-size: 20px;
    }
    .ant-form label {
        font-size: 10px;
    }
    .ant-btn-lg {
        height: 50px;
        border-radius: 10px;
    }
    .ant-btn-lg {
        font-size: 20px;
    }
    .ant-input-affix-wrapper {
        height: 50px;
    }
}
